
.icon-home:before { content: '\e0da'; } /* '' */
.icon-shop:before { content: '\e800'; } /* '' */
.icon-th-list:before { content: '\e801'; } /* '' */
.icon-adult:before { content: '\e802'; } /* '' */
.icon-services:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-docs:before { content: '\f15c'; } /* '' */
