@media (min-width: 768px){#logo{width: 25%;}}
@media (max-width: 768px){#logo{width: 65%;}}
.social
{
	width: 60px;
	height: 60px;
	text-align: center;
	background-color: transparent;
	padding: 10px;
	border-radius: 5px;
	margin-top: 5px;
}
.socialmedia
{
	width: 100%;
	background-color: #f8f9fc;
}
.socialmedia:hover{background-color: #ddd;}
.podpis{margin-bottom: 0px;}

.link, .link:hover
{
	color: #858796; 
	text-decoration: underline;
}

.linkk, .linkk:hover
{
	color: #858796; 
	text-decoration: none;
}

.linkh
{
	color: #858796; 
	text-decoration: none;
}

.linkh:hover
{
	color: #858796; 
	text-decoration: underline;
}

.tutorial-list
{
	padding-left: 0; 
	list-style-position: inside;
}

.tutorial-div, .tutorial-div:hover
{
	display: flex; 
	justify-content: space-between; 
	align-items: center;
	margin-bottom: 20px;
    border-style: solid;
    border-color: #858796;
	color: #858796; 
	text-decoration: none;
    border-width: 3px;
    border-radius: 20px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 15px;
    margin-right: 10px;
    margin-bottom: 10px; 
}
.tutorial-div:hover{background-color: #EFEEEE;}

.ebooks
{
	height: 185px; 
	margin-right: 8px; 
	margin-bottom: 10px;
	border-radius: 3px;
}

pre 
code 
{
    scrollbar-color: #666 #201c29;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    display: block;
    min-width: 100px;
    max-width: 100%;
    line-height: 1.75;
	padding-left: 40px;
	padding-right: 20px;
	font-size: 14px;
}

.pdf {
    width: 100%;
    height: calc(100vh - 20px);
    border: none;
}

code 
{
	color: #f5d67b;
	background: #0e110c;
	padding: 1.7px;
	border-radius: 6px;
}

pre 
{
    clear: both;
    color: #fff;
    background: #0e110c;
    padding: 0;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -ms-word-break: normal;
    word-break: normal;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    position: relative;
    line-height: 28px;
    border-radius: 8px;
    overflow: hidden;
    white-space: pre;
	margin-top: 10px;
}

.codeTooBig
{
	overflow-y: scroll; 
	height: 400px;
}

.comment
{
	color: #6d757e;
}

.text
{
	color: #84c7ff;
}

.command
{
	color: #ff8cd5;
}

.command-c
{
	color: #339933;
}

.sign
{
	color: #f0746c;
}

.function
{
	color: #189eda;
}

a > code 
{
  color: inherit;
}

.code-example
{
    color: #f5d67b;
}