.card-body > div {
    display: flex;
    margin-bottom: 1.5rem;
}

.card-body > div > a {
    display: flex;
    width: 100%;
}

.project-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    margin-top: 20px;
    margin-bottom: 0x;
    padding-right: 12px;
    padding-left: 12px;
}

.tag {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    color: white;
}

.tag-blue { background-color: #0d6efd; }
.tag-green { background-color: #198754; }
.tag-light-green { background-color: #57b95a; }
.tag-orange { background-color: #fd7e14; }
.tag-red { background-color: #dc3545; }
.tag-purple { background-color: #6f42c1; }
.tag-pink { background-color: #e83e8c; }
.tag-gray { background-color: #6c757d; }
.tag-light-blue { background-color: #20bfdf; }
.tag-indigo { background-color: #4F46E5; }
.tag-yellow { background-color: #eeb301; }