body 
{
  background-color: #157267;
  color: #EFEEEE;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 40px;
}

html
{
	height: 100%;
}

@media (prefers-reduced-motion: no-preference)
{
  :root
  {
    scroll-behavior: smooth;
  }
}

pre 
code 
{
    scrollbar-color: #666 #201c29;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    display: block;
    min-width: 100px;
    max-width: 100%;
    font-size: 16px;
    line-height: 1.75;
	padding-left: 40px;
	padding-right: 20px;
}

code 
{
    font-size: inherit;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	color: #f5d67b;
	background: #0e110c;
	padding: 1.7px;
	border-radius: 6px;
}

pre 
{
    clear: both;
    color: #fff;
    background: #0e110c;
    padding: 0;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -ms-word-break: normal;
    word-break: normal;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    position: relative;
    line-height: 28px;
    border-radius: 8px;
    overflow: hidden;
	font-family: monospace;
    white-space: pre;
	margin-top: 10px;
}

.codeTooBig
{
	overflow-y: scroll; 
	height: 400px;
}

.comment
{
	color: #6d757e;
}

.text
{
	color: #84c7ff;
}

.command
{
	color: #ff8cd5;
}

.command-c
{
	color: #339933;
}

.sign
{
	color: #f0746c;
}

.function
{
	color: #189eda;
}

a > code 
{
  color: inherit;
}

.code-example
{
    color: #f5d67b;
}

.podpis
{
	margin-bottom: 0px;
}

a,
a:hover
{
  color: #EFEEEE;
  text-decoration: underline;
}

.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (max-width: 500px)
{
	#header
	{
		font-size: 30px;
	}
}

@media (max-width: 350px)
{
	#header
	{
		font-size: 20px;
	}
}

#header
{
	padding-bottom: 30px;
}

.social
{
	width: 60px;
	height: 60px;
	text-align: center;
	background-color: #EFEEEE;
	padding: 10px;
	border-radius: 5px;
	margin-top: 5px;
}

.social:hover
{
	background-color: #ccc;
}

.przycisk
{
	background-color: #0E5D50;
	color: #EFEEEE;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
}

.przycisk:hover
{
	text-decoration: none;
	background-color: #1c877a;
	color: #EFEEEE;
}

.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.overlay-mf {
  background-color: #0078ff;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.sect-4 {
  padding: 4rem 0;
}

.sect-pt4 {
  padding-top: 4rem;
}

.sect-mt4 {
  margin-top: 4rem;
}

.title-s {
  font-weight: 600;
  color: #EFEEEE;
  font-size: 1.5rem;
}

.title-box {
  margin-bottom: 4rem;
}

.title-a {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #157267;
}

#header {
  z-index: 997;
  padding: 20px 0;
  padding-bottom: 40px;
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  letter-spacing: 1px;
}

#header .logo a {
  color: #000;
}

#header .logo img {
  max-height: 40px;
}

.work-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.work-box:hover img {
  transform: scale(1.3);
}

.work-img {
  display: block;
  overflow: hidden;
}

.work-img img {
  transition: all 1s;
}

.work-content {
  padding: 2rem 3% 1rem 4%;
}

.work-content .w-more {
  color: #EFEEEE;
  font-size: 0.8rem;
}

.work-content .w-more .w-ctegory {
  color: #EFEEEE;
}

.work-content .w-like {
  font-size: 2.5rem;
  color: #EFEEEE;
  float: right;
}

.work-content .w-like a {
  color: #EFEEEE;
}

.work-content .w-like .num-like {
  font-size: 0.7rem;
}

.w-title {
  font-size: 1.2rem;
}

@media (min-width: 767px) {
  .card-blog {
    margin-bottom: 3rem;
  }
}

.card-blog .card-body {
  position: relative;
}

.card-blog .card-category-box {
  position: absolute;
  text-align: center;
  top: -16px;
  left: 15px;
  right: 15px;
  line-height: 25px;
  overflow: hidden;
}

.card-blog .card-category {
  display: inline-block;
  color: #EFEEEE;
  padding: 0 15px 5px;
  overflow: hidden;
  background-color: #0078ff;
  border-radius: 4px;
}

.card-blog .card-category .category {
  color: #EFEEEE;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1px;
  margin-bottom: 0;
}

.card-blog .card-title {
  font-size: 1.3rem;
  margin-top: 0.6rem;
}

.card-blog .card-description {
  color: #EFEEEE;
}

.card-blog .post-author {
  display: inline-block;
}

.card-blog .post-date {
  color: #EFEEEE;
  display: inline-block;
  float: right;
}

footer 
{
	text-align: center;
	color: #EFEEEE;
	background: #0062d3;
	position: fixed;
	padding: 1px 1px 1px 1px;
	bottom: 0;
	width: 100%;
}

footer .copyright {
  margin-bottom: 0.3rem;
}

@media (max-width: 440px)
{
	#tytul
	{
		font-size: 1rem;
	}
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}

h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 1.75rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

iframe {
  border: 0;
}

@media (min-width: 1200px) {
  .display-4 {
    font-size: 3.5rem;
  }
}

.display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-5 {
    font-size: 3rem;
  }
}

.display-6 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 300;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .display-6 {
    font-size: 2.5rem;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.skills
{
	width: 60px;
	height: 60px;
	margin: 20px;
	text-align: center;
}

.center
{
	display: flex;
	justify-content: center;
}

.logo
{
	width: 100%;
	height: auto;
	margin: 5px;
	text-align: center;
	padding: 20px;
}

.sekcja
{
	padding: 20px;
}

.kurs
{
	background-color: #eee;
	height: 465px;
	padding: 20px;
	float: left;
	margin: 20px;
}

.ikonaK
{
	height: 120px;
	margin-left: 17%;
	width: 120px;
}

.podpisK
{
	color: black;
	font-size: 60px;
	border-bottom: 2px dashed #000;
	padding-bottom: 5px;
	text-align: center;
}

.przyciskK
{
	background-color: #ccc;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	padding: 8px;
}

.przyciskK:hover
{
	text-decoration: none;
	color: black;
	background-color: #aaa;
}

.ikona
{
	width: 40px;
	height: 40px;
}
  
.podpisI
{
	margin-left: 5px;
	font-size: 18px;
}

.kurs
{
	background-color: #eee;
	width: 240px;
	padding: 20px;
	float: left;
	margin-right: 20px;	
	height: 420px;
}

.guzikK
{
	background-color: #ccc;
	color: black;
	cursor: pointer;
	padding: 18px;
	width: 200px;
	border-radius: 5px;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;	
}

.guzikK:hover
{
	background-color: #aaa;
	text-decoration: none;
}

.wiecej
{
	background-color: #eee;
	padding: 20px;
	float: left;
	margin: 20px;	
	height: 420px;
	text-decoration: none;
}

.wiecej:hover
{
	text-decoration: none;
	background-color: #ccc;
}

.linkk
{
	color: #5dbbbd;
	text-decoration: underline;
}

.linkk:hover
{
	color: #297180;
	text-decoration: underline;
}

.language-css, .language-javascript, .language-python {
    color: #f5d67b;
}

code {
    font-size: inherit;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

.code-example
{
    color: #f5d67b;
}

@media (min-width: 1000px)
{
	.zd1
	{
		width: 20%;
	}
	.zd2
	{
		width: 35%;
	}
	.zd3
	{
		width: 45%;
	}
}

@media (max-width: 1000px)
{
	.zd1
	{
		width: 35%;
	}
	.zd2
	{
		width: 60%;
	}
	.zd3
	{
		width: 100%;
	}
}

@media (max-width: 518px)
{
	.zd1
	{
		width: 70%;
	}
	.zd2
	{
		width: 90%;
	}
	.zd3
	{
		width: 100%;
	}
}

@media (max-width: 416px)
{
	.zd1
	{
		width: 90%;
	}
	.zd2
	{
		width: 100%;
	}
	.zd3
	{
		width: 100%;
	}
}

.codeTooBig
{
	overflow-y: scroll; 
	height: 400px;
}

@media (max-width: 767px)
{
	.responsive-iframe
	{
		width: 100%;
		height: 280px;
	}
}

.tekst
{
	margin-top: 20px;
	margin-bottom: 5px;
}

.kod
{
	color: red;
	background-color: #eee;
}

.kod1
{
	margin-bottom: 0px;
}

.overflow
{
	background: #eee;
	color: black;
	padding: 15px;
	width: 100%;
	height: 200px;
	overflow: scroll;
	border: 1px solid #ccc;
	overflow-x: hidden;
}

.podpis
{
	margin-bottom: 0px;
}

.przycisk
{
	background-color: #3BBF74;
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
}

.przycisk:hover
{
	text-decoration: none;
	color: #222;
	background-color: #2aae63;
}

@media (max-width: 465px)
{
	p, figcaption
	{
		font-size: 15px;
	}
}

@media (max-width: 200px)
{
	p, figcaption
	{
		font-size: 18px;
	}
}

@media (min-width: 992px)
{
	.faq3
	{
		width: 50%;
	}
}

@media (max-width: 992px)
{
	.faq3
	{
		width: 65%;
	}
}

@media (max-width: 768px)
{
	.faq3
	{
		width: 75%;
	}
}

@media (max-width: 526px)
{
	.faq3
	{
		width: 85%;
	}
}

@media (max-width: 468px)
{
	.faq3
	{
		width: 100%;
	}
}